.App {
  text-align: center;
}
.navigation {
  list-style: none;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-flow: row wrap;
  /*  justify-content: flex-end;*/
}

.navigation a {
  text-decoration: none;
  display: inline;
  padding: 1em;
  color: black;
}
/*.navigation a:hover {
  background: darken(deepskyblue, 2%);
}*/

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    /*padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

li {
  text-decoration: none;
  display: inline;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* font-weight: bold;*/
  /*text-align: center;*/
  position: relative;
  top: 400px;
}
.row {
  position: relative;
  display: flex;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
}

.col-panel {
  width: 99px;
  height: 100%;
  border-right: 1px solid rgba(197, 197, 197, 0.7);
  align-items: center;
}

.col-base {
  position: relative;
  width: calc(100% - 100px);
  height: 100%;
}

.search {
  display: flex;
  height: 98px;
  border-bottom: 1px solid rgba(197, 197, 197, 0.7);
  align-items: center;
}

/* таким образом img со своими заданными размерами внутри .logo выравняется по середине */
.logo {
  flex: 0 0 99px;
  display: flex;
  width: 99px;
  align-items: center;
  justify-content: center;
  background: white;
}
.logo__img {
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 84px;
  background: white;
}

/* ширину и длину я задал для нагладности, они будут заданы размерами иконок */
.nav__item {
  position: relative;
  margin-bottom: 52.2px;
  width: 21px;
  height: 21px;
  background: white;
}
.nav__item.active::before {
  position: absolute;
  content: "";
  width: 10.2px;
  height: 44px;
  left: -42px;
  top: calc(-22px + 7.5px);
  background: #4192ec;
  border-radius: 2px;
  filter: blur(1px);
  /* эту хреновину надо будет в соответствии с макетом отшливовать, закруглить там, тени, блур и т д */
}
.nav__item > .active:hover {
  filter: blur(0px);
}
